body {
    min-height: 100vh;
   overflow: hidden;
    position: relative;
    .background {
        top: -5%;
        left: -5%;
        min-height: 110vh;
        width: 110%;
        background: rgb(66, 21, 126);
        z-index: -2;
        opacity: 0.8;
        position: absolute;
    }
    .container {
        margin: 0 auto;
        min-height: 70vh;
        width: 90%;
        text-align: center;
        display: flex;
        padding-top: 120px;
        .left {
            text-align: left;
            flex: 5;
            #cadre {
                width: 100%;
            }
            #logo {
                transform: translateY(-240%);
                width: 35%;
            }
        }
        .right {
            flex: 5;
            color: white;
            text-align: left;
            margin-left: 45px;
            margin-top: 70px;
            h1{
                width: 80%;
            }
            button {
                padding: 11px 38px;
                border-radius: 25px;
                color: purple;
                border: none;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    opacity: 0.8;
                    transform: scale(1.1);
                }
            }
            ul {
                display: flex;
                position: absolute;
                bottom: 8%;
                right: 8%;
                li {
                    list-style: none;
                    margin: 0 15px;
                    border: 1px solid white;
                    padding: 8px;
                    color: white;
                    border-radius: 5000px;
                    cursor: pointer;
                    transition: 0.3s ease;
                   &:hover {
                    background-color: white;
                    color: #000;
                    border: 1px solid black;
                   }
                }
            }
        }
    }
}

